/*
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;

Color Schemes
Danger : e63946
Success : a8dadc
Background : f1faee
Background2: a3b18a
Icon : 1d3557
Text : 081c15

*/

@charset "utf-8";
@import url("font-awesome.min.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    height: auto;
	color: #081c15;
}

.alert-error {
	background-color: #e63946;
	color: #fff;
	font-family: "Nunito", sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

.heading {
	padding: 1rem;
	background-color: #081c15;
	color:#ddd;
	text-align: center;
}

.container p {
	white-space: pre-line;
}

.btn {
	border: none;
}

.btn-success {
	background-color: #a8dadc;
}

.btn-danger {
	background-color: #e63946;
}

label {
	margin: 0.5rem auto;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

/* Navbar Styles */

.navbar {
	background-color: #a3b18a;
}

.navbar-brand h1 {
	font-size: 2rem;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 5px;
	color: #081c15;
	font-weight: 600;
}

.navbar-nav .nav-item {
    margin: auto 1rem;
    background-color: #f1faee;
    border-radius: 10px;
    padding: 0.25rem 1rem;
    color: #fff;
}

.nav-item > a:hover {
    text-decoration: none;
    color: #00ACEE;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.nav-item .fa {
	font-size: 20px;
	margin-right: 0.25rem;
}

.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	position: absolute;
	display: none;
	background-color: #f1f1f1;
	color: green !important;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
	transition: all 0.4s ease-in;
  }

.dropdown:hover > p {
	color: blue;
}  

.dropdown:hover .dropdown-content {
	display: block;
	transition: all 0.4s ease-in;
}

/* Auth Form Styles */
.auth-form {
	width: 50%;
	margin: 1.5rem auto;
	padding: 2rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Hero Section Styles */

#hero {
	position: relative;
	height: 50vh;
}

#hero .content {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero .content article {
	background-color: #f1faee;
	border-radius: 2%;
	padding: 1rem;
}

#hero .overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #081c15;
	opacity: 0.5;
}

/* Footer Styles */

footer {
	background-color: #a3b18a;
}

footer a {
	text-decoration: none;
	color: #081c15;
	font-weight: 400;
}

footer a:hover {
	text-decoration: none;
	color: #00ACEE;
	font-size: 1.1rem;
	transition: all 0.4s ease-in-out;
}

.favicon-container {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.favicon-container .fa {
	font-size: 2rem;
}

/*
Image Container
*/